*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/core/*
*/errors/*
*/helpers/*
*/hooks/*
*/language/*
*/models/*
*/modules/*
*/third_party/*
*/views/*
*/system/*
*/user_guide/*
index.php
